* {
  padding: 0;
  margin: 0;
}

.section {
  margin: 10px auto;
  width: 800px;
  padding: 10px
}


.section-name {
  text-decoration: underline;
  margin-bottom: 10px;
}

.section ul {
  padding-left: 20px;
}
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div.header {
  height: 70px;
  padding: 22px 10px;
  text-align: center;
  border-bottom: 1px solid gray;
}
div.header h1 {
  font-size: 21px;
  color: #303030;
}

div.thumb {
  display: inline-block;
}

div.profile img {
  width: 200px;
}
div.profile .intro {
  display: inline-block;
  vertical-align: top;

  padding: 10px;
}
div.profile .intro .my-name {
  font-size: 21px;
  font-weight: bold;
  text-decoration: underline;
  color: #303030;
}

div.profile .intro ul {
  margin: 20px;
}

div.image {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 1%;
}

div.image img {
  width: 100%;
}
